// Body

body {
    background-color: $body-bg-color;
    font-family: $body-font;

    h1,
    h2,
    h3 {
	    font-family: $heading-font;
	    text-decoration: none;
    }

    a {
        text-decoration: none;
    }
    
}

