// Main

main {

    a {
        color: $brand-color;
        text-decoration: underline;
        font-weight: bold;


        #{$hvr} {
            color: #0296ff;
        
            }
    
        }


}

