// Nav Styles

nav {

    $height: 40px;
    background-color: $brand-color;
    height: $height;


    ul {
        @include flatten(true);
        display: flex;
    }
    
    li {
        flex: 1;
    
    }
    
    a {
        display: block;
        font-family: $body-font;
        color: $text-color-light;
        line-height: $height;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;
        outline: none;
        width: 100%;
        text-align: center;

        //for selector elements
        #{$hvr} {
           background-color: rgba(white, 0.3);
           transition: background-color 0.6s ease;

        }


    }

    @include mq($phone-landscape) {
        display: none;
        

        .show & {
            display: block;
            
        }
        a {
            line-height: 50px;
            
        }

        ul {
            flex-direction: column;
        }

        li {
            flex-basis: 100%;
        }


    }


    


}

