// Nav Styles

nav {
    background-color: #003f6b;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    li {
        flex: 1;
    }

    a {
        display: block;
        line-height: 42px;
        text-align: center;
        font-size: 1.2em;
        color: white;

        &:hover, &:focus, &:active {
            background-color: rgba(255, 255, 255, 0.521);
        }



    }

    



}