// Section

section {
    padding: $padding;
    border: black solid 3px;
    width: 100%;



    h3 {
        color:$brand-color;
        text-align: center;
    }

    a {
        color: $brand-color;
        text-decoration: underline;
        font-weight: bold;


        #{$hvr} {
            color: #0296ff;
        
            }
    
        }
    
 
}

// Home Page 

.class-info {
    display: grid;
    grid-gap: 30px;
    max-width: 1020px;
    margin: 0 auto;
    padding: $padding;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;


}

.register-button {
    padding: 10px 30px;
    background-color: $brand-color;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
    }

}

// Contact Form Page

.contact-form {

    background-color: #fff;
    width: 100%;
    border: 10px solid darkgrey;
    padding: $padding;
    margin: 0 auto;

    h3 {
        text-align: left;
        font-family: $body-font;
        margin: 0;

    }

    input {
        background-color:rgb(230, 230, 230);
        padding: 10px;
        margin: 0;
        border: none;
        
      }

    fieldset {
        border: none;

    }


    
}

.entry {

    input {
        width: 300px;
    }

    textarea {
        width: 100%;
        background-color:rgb(230, 230, 230);
        padding: 15px;
        margin: 0;
        border: none;
        }

}



