// Section

section {
    padding: $padding;
    border: black solid 3px;
    width: 100%;



    h3 {
        color:$brand-color;
        text-align: center;
    }

    a {
        color: $brand-color;
        text-decoration: underline;
        font-weight: bold;


        #{$hvr} {
            color: #0296ff;
        
            }
    
        }

    span {
        color:$brand-color;
        font-weight: bold;
    }
    
 
}

// Home Page 

.class-info {
    display: grid;
    grid-gap: 30px;
    max-width: 1020px;
    margin: 0 auto;
    padding: $padding;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;


}

.register-button {
    padding: 10px 30px;
    background-color: $brand-color;
    text-align: center;

    a {
        font-family: $body-font;
        color: $text-color-light;
        line-height: 1.4;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;
        outline: none;
        width: 100%;
        text-align: center;

        //for selector elements
        #{$hvr} {
           background-color: rgba(white, 0.3);
           transition: background-color 0.6s ease;

        }
    }

}

// About Page

.about {
    border: none;

}

.about-01 {

    h2 {
        color:$brand-color;
    }

    .row {
        display: grid;
        grid-gap: 30px;
        max-width: 1020px;
        margin: 0 auto;
        padding: $padding;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-items: left;
        
    }

    .one-third {

        p {
            text-align: left;
        }
    }

    @include mq($tab-portrait) {
        flex-direction: column;
    }

    .register-button {
        margin: $padding 0;
    }

}

.about-02 {

    background-color: $brand-color;
    
    h2 {
        color:white;
        padding: $padding;
        padding-bottom: 0;
    
    }

    p {
        padding: $padding;
        color: white;
    }

    .schedule-btn {
        margin: $padding;
        padding: 10px 30px;
        background-color: white;
        text-align: center;
    
        a {
            color: $brand-color;
            text-decoration: none;
            text-transform: uppercase;
        }
    
    }
}

.about-03 {

    h2 {
        color: $brand-color;
        padding: $padding;
        padding-bottom: 0;
        
    }

    ul {
        padding: $padding;
        margin-left: $padding;

        li {
            margin: 10px 0;
            padding: 10px;
        }
    }
}

.about-04 {

    background-color: $brand-color;
    
    h2 {
        color:white;
        padding: $padding;
    
    }

    p {
        padding: 0 $padding;
        color: white;
        font-weight: bold;
    }

    ul {
        padding: 0 $padding $padding;
        margin-left: $padding;
        

        li {
            color: white;
            margin: 10px 0;
            padding: 5px;
        }
    }

}

.about-05 {

    h2 {
        color: $brand-color;
        padding: $padding;
        padding-bottom: 0;
        text-align: center;
        
    }

    table {
        padding: $padding;
        margin: 0 auto;

        td {
          padding: 10px;
          text-align: left;
        }
        
        tr:last-child {
            font-weight: bold;
        }

      }
}

// Schedule Page

.schedule-heading {

    h1{
    padding: $padding;
    text-align: center;
    margin: 0;

    }
    
}
// Drop Down Menu code from https://www.w3schools.com/css/css_dropdowns.asp
.dropdown {
    display: none;



    @include mq($phone-landscape) {
        position: relative;
        display: inline-block;
        

        &:hover {

            .dropdown-content{
                display: block;
            }

            .dropbtn {
                background-color:#003e6bda;
                
            }

        }


        .dropbtn {
            background-color: $brand-color;
            color: white;
            padding: 16px $padding;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

           

            a {
                font-family: $body-font;
                color: black;
                line-height: 1.4;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: center;

                #{$hvr} {
                    background-color: #f1f1f1;

                }


            }

        }

        

    }
}

.schedule-bookmarks {
    padding: 0 $padding $padding;
    text-align: center;

    a {
        padding-right: 10px;
    }

    

    @include mq($phone-landscape) {
        display: none;

        .dropdown {
            display: block;
        }


        
    }
}

.day-section {
    border: none;

    &:nth-child(even) {
        background-color: lightgrey;

    }
}

.lesson-btn {
    padding: 10px 30px;
    background-color: $brand-color;
    text-align: center;
    width: 200px;

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

    

}

// Contact Form Page

.instructor-info {
    display: flex;
    border: none;
    background-color: lightgrey;

    .contact-info {
        flex: 1;
    }

    .instructor {
        padding: $padding;
        margin-left: 10px;
        background-color:white;
        
    }

    @include mq($phone-landscape) {
        flex-direction: column;

    }
}


.contact-form {

    background-color: #fff;
    width: 100%;
    border: none;
    padding: $padding;
    margin: 0 auto;

    h3 {
        text-align: left;
        font-family: $body-font;
        margin: 0;

    }

    input {
        background-color:rgb(230, 230, 230);
        padding: 10px;
        margin: 0;
        border: none;
        
      }

    fieldset {
        border: none;

    }


    
}

.entry {

    input {
        width: 300px;

        @include mq(720px) {
            width: 100%;
    
        }
    }

    textarea {
        width: 85%;
        background-color:rgb(230, 230, 230);
        padding: 15px;
        margin: 0;
        border: none;

        @include mq($tab-portrait) {
            width: 100%;
    
        }
    }

}


.name {
    display: flex;

    .name-entry {
        flex: 1;
        padding-right: 10px;
    }

    @include mq(720px) {
        flex-direction: column;

        
    }

}

.contact {
    display: flex;

    .contact-entry {
        flex: 1;
        padding-right: 10px;
    }

    @include mq(720px) {
        flex-direction: column;

    }
}

.button {
    margin: 15px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: $brand-color;
    border: none;
    color: white;
    padding:20px $padding*3;
    text-decoration: none;
    cursor: pointer;
    font-family: $body-font;
    text-transform: uppercase;
    font-size: 1em;

    @include mq($phone-landscape) {
        width: 100%;
    
    }


  }


