// Section

section {
    padding: $padding;
    border: black solid 3px;
    width: 100%;



    h3 {
        color:$brand-color;
        text-align: center;
    }

    a {
        color: $brand-color;
        text-decoration: underline;
        font-weight: bold;


        #{$hvr} {
            color: #0296ff;
        
            }
    
        }

    span {
        color:$brand-color;
        font-weight: bold;
    }
    
 
}

// Home Page 

.class-info {
    display: grid;
    grid-gap: 30px;
    max-width: 1020px;
    margin: 0 auto;
    padding: $padding;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;


}

.register-button {
    padding: 10px 30px;
    background-color: $brand-color;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

}

// About Page

.about {
    border: none;

}

.about-01 {

    h2 {
        color:$brand-color;
    }

    .row {
        display: grid;
        grid-gap: 30px;
        max-width: 1020px;
        margin: 0 auto;
        padding: $padding;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-items: left;
        
    }

    .one-third {

        p {
            text-align: left;
        }
    }

    @include mq($tab-portrait) {
        flex-direction: column;
    }

    .register-button {
        margin: $padding 0;
    }

}

.about-02 {

    background-color: $brand-color;
    
    h2 {
        color:white;
        padding: $padding;
        padding-bottom: 0;
    
    }

    p {
        padding: $padding;
        color: white;
    }
}

.about-03 {

    h2 {
        color: $brand-color;
        padding: $padding;
        padding-bottom: 0;
        
    }

    ul {
        padding: $padding;
        margin-left: $padding;

        li {
            margin: 10px 0;
            padding: 10px;
        }
    }
}

.about-04 {

    background-color: $brand-color;
    
    h2 {
        color:white;
        padding: $padding;
    
    }

    p {
        padding: 0 $padding;
        color: white;
        font-weight: bold;
    }

    ul {
        padding: 0 $padding $padding;
        margin-left: $padding;
        

        li {
            color: white;
            margin: 10px 0;
            padding: 5px;
        }
    }

}

.about-05 {

    h2 {
        color: $brand-color;
        padding: $padding;
        padding-bottom: 0;
        text-align: center;
        
    }

    table {
        padding: $padding;
        margin: 0 auto;

        td {
          padding: 10px;
          text-align: left;
        }
        
        tr:last-child {
            font-weight: bold;
        }

      }
}

// Contact Form Page

.contact-form {

    background-color: #fff;
    width: 100%;
    border: 10px solid darkgrey;
    padding: $padding;
    margin: 0 auto;

    h3 {
        text-align: left;
        font-family: $body-font;
        margin: 0;

    }

    input {
        background-color:rgb(230, 230, 230);
        padding: 10px;
        margin: 0;
        border: none;
        
      }

    fieldset {
        border: none;

    }


    
}

.entry {

    input {
        width: 300px;
    }

    textarea {
        width: 100%;
        background-color:rgb(230, 230, 230);
        padding: 15px;
        margin: 0;
        border: none;
        }

}



