/* Resets */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin: 0;
  padding: 0;
  line-height: 2; }

/* End Resets */
body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Russo One", sans-serif; }

h1, h2, h3, p {
  margin-top: 0; }

a {
  color: #003f6b; }

body {
  background-color: grey;
  font-family: "Open Sans", sans-serif; }
  body h1,
  body h2,
  body h3 {
    font-family: "Russo One", sans-serif;
    text-decoration: none; }
  body a {
    text-decoration: none; }

.wrapper {
  max-width: 1000px;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; }

img {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block; }

header {
  background-color: #003f6b;
  padding: 10px; }
  header h1 {
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
    flex: 3;
    font-size: 3em; }
  header h1 a {
    text-decoration: none;
    color: white; }
  header nav {
    flex: 3; }

.header-nav {
  display: flex;
  align-items: center; }

nav {
  background-color: #003f6b;
  height: 40px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; }
  nav li {
    flex: 1; }
  nav a {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: white;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    outline: none;
    width: 100%;
    text-align: center; }
    nav a:hover, nav a:focus, nav a:hover {
      background-color: rgba(255, 255, 255, 0.3);
      transition: background-color 0.6s ease; }
  @media (max-width: 41.875em) {
    nav {
      display: none; }
      .show nav {
        display: block; }
      nav a {
        line-height: 50px; }
      nav ul {
        flex-direction: column; }
      nav li {
        flex-basis: 100%; } }

* {
  box-sizing: border-box; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: black;
  font-size: 1.5em;
  padding: 8px 12px;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center; }
  .text h1 {
    text-shadow: white 1px 0 10px; }
  .text a {
    background-color: #003f6b;
    color: white;
    padding: 10px 30px;
    font-size: 0.8em; }
    .text a:hover, .text a:focus, .text a:active {
      background-color: rgba(255, 255, 255, 0.521);
      color: #003f6b;
      transition: background-color 0.6s ease; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.mobile-nav {
  display: none; }
  @media (max-width: 41.875em) {
    .mobile-nav {
      display: block;
      color: white; } }

section {
  padding: 30px;
  border: black solid 3px; }
  section h3 {
    color: #003f6b;
    text-align: center; }
  section a {
    color: #003f6b;
    text-decoration: underline;
    font-weight: bold; }
    section a:hover, section a:focus, section a:hover {
      color: #0296ff; }

.class-info {
  display: grid;
  grid-gap: 30px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center; }

.register-button {
  padding: 10px 30px;
  background-color: #003f6b;
  text-align: center; }
  .register-button a {
    color: white;
    text-decoration: none; }

footer {
  background-color: black;
  color: white;
  padding: 30px;
  line-height: 2; }
  footer .row {
    display: grid;
    grid-gap: 30px;
    max-width: 1020px;
    margin: 0 auto;
    padding: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center; }
  footer .one-third ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  footer .one-third p {
    text-align: left; }
  footer .one-third a {
    text-decoration: none;
    color: white; }
    footer .one-third a:hover, footer .one-third a:focus, footer .one-third a:hover {
      background-color: #003f6b; }
  @media (max-width: 53.125em) {
    footer {
      flex-direction: column; } }

/*# sourceMappingURL=styles.css.map */
